* {
  box-sizing: border-box;
  -webkit-user-drag: none;
  color: rgb(134, 203, 235);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
  background: #241955;
}

main {
  padding: 1vh 1vw 1vh 3vw;
}

img {
  border: 1px solid gray;
  width: 300px;
  height: 300px;
  margin: 5px;
}

h1 {
  text-align: center;
}

strong {
  font-size: 14pt;
}

a {
  padding: 1vw;
  font-size: 12pt;
}

.example {
  display: inline-block;
}